@media only screen and (max-width: 600px){
	/*
	 * here is the viewport settings
	 */
	.bod {
		font-feature-settings: "kern" 1;
		font-kerning: normal;
		font: 400 16px/1.5 -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
		background-color:#fdf6e3;
		color: #1e2527;
		margin-left: 16px;
		margin-top: 16px;
		height: 100vh;
		width: 100vw;
	}

	/* 
	 * here is the post section bodies
	 */
	.string-body {
		overflow: hidden;
		white-space: pre-line;
		margin-bottom: 16px;
		margin-left: 16px;
		word-wrap: break-word;
		
		display: flex;
		flex-direction: column;
		width: 90vw;

	}

	/*
	 * here is the header settings
	 */
	.heading1 {
		margin-bottom: 15px;
		margin-top: 15px;

		letter-spacing: -1px;
		line-height: 1;

		font-weight: 400;
		font-size: 36px;
	}

	/*
	 * here is the header settings
	 */
	.heading2 {
		margin-bottom: 15px;
		margin-top: 15px;

		letter-spacing: -1px;
		line-height: 1;

		font-weight: 400;
		font-size: 28px;
	}

	/*
	 * here is the header settings
	 */
	.heading3 {
		margin-bottom: 15px;
		margin-top: 15px;

		letter-spacing: -1px;
		line-height: 1;

		font-weight: 400;
		font-size: 26px;
	}

	/*
	 * here is the header settings
	 */
	.heading4 {
		margin-bottom: 15px;
		margin-top: 15px;

		letter-spacing: -1px;
		line-height: 1;

		font-weight: 400;
		font-size: 22px;
	}

	/*
	 * here is the header settings
	 */
	.heading5 {
		margin-bottom: 15px;
		margin-top: 15px;

		letter-spacing: -1px;
		line-height: 1;

		font-weight: 400;
		font-size: 20px;
	}

	/*
	 * here is the header settings
	 */
	.heading6 {
		margin-bottom: 15px;
		margin-top: 15px;

		letter-spacing: -1px;
		line-height: 1;

		font-weight: 400;
		font-size: 18px;
	}

	.list-def {
		display: flex;
		flex-direction: column;
		margin: 12px;
	}


	  /* havent found anything I want to do with this yet */
	.list-item {
		display: flex;
		flex-direction: column;
		margin-bottom: 0px;
	}

	.list-item-comment {
		display: flex;
		flex-direction: column;
		list-style-type: none;

		padding-left: 5px;
		margin-top: 0;

	}

	pre {
		white-space: pre;
		word-wrap: normal;
	}

	.block-container {
		margin-bottom: 8px;
		margin-left: 16px;
		box-sizing: border-box;
		display: inline-block;
		width: 90%;
		border: 1px groove #fff;
		padding: 3px 10px;
	}
	.block {
		width: 90%;
		margin-left: 16px;
		color: #3a2e1f !important;
	}
	.block-container {
		margin-bottom: 8px;
		margin-left: 16px;
		box-sizing: border-box;
		display: inline-block;
		width: 90%;
		border: 1px groove #fff;
		padding: 3px 10px;
	}
}


/*
 * here is the viewport settings
 */
.bod {
	background-color:#fdf6e3;
	color: #1e2527;
	margin-left: 16px;
	margin-top: 16px;
	height: 100vh;
	width: 100vw;
}

/* 
 * here is the post section bodies
 */
.string-body {
	overflow: hidden;
	white-space: pre-line;
	margin-bottom: 16px;
	margin-left: 16px;
	word-wrap: break-word;
	
	display: flex;
	flex-direction: column;
	width: 90vw;

	font-feature-settings: "kern" 1;
	font-kerning: normal;
	font: 400 14px/1.5 -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

/*
 * here is the header settings
 */
.heading1 {
	margin-bottom: 15px;
	margin-top: 15px;

	letter-spacing: -1px;
	line-height: 1;

	font-weight: 400;
	font-size: 36px;
}

/*
 * here is the header settings
 */
.heading2 {
	margin-bottom: 15px;
	margin-top: 15px;

	letter-spacing: -1px;
	line-height: 1;

	font-weight: 400;
	font-size: 28px;
}

/*
 * here is the header settings
 */
.heading3 {
	margin-bottom: 15px;
	margin-top: 15px;

	letter-spacing: -1px;
	line-height: 1;

	font-weight: 400;
	font-size: 26px;
}

/*
 * here is the header settings
 */
.heading4 {
	margin-bottom: 15px;
	margin-top: 15px;

	letter-spacing: -1px;
	line-height: 1;

	font-weight: 400;
	font-size: 22px;
}

/*
 * here is the header settings
 */
.heading5 {
	margin-bottom: 15px;
	margin-top: 15px;

	letter-spacing: -1px;
	line-height: 1;

	font-weight: 400;
	font-size: 20px;
}

/*
 * here is the header settings
 */
.heading6 {
	margin-bottom: 15px;
	margin-top: 15px;

	letter-spacing: -1px;
	line-height: 1;

	font-weight: 400;
	font-size: 18px;
}

.list-def {
	display: flex;
	flex-direction: column;
	margin: 12px;
}


  /* havent found anything I want to do with this yet */
.list-item {
	display: flex;
	flex-direction: column;
	margin-bottom: 0px;
	font-size: 12px;
}

.list-item-comment {
	display: flex;
	flex-direction: column;
	list-style-type: none;

	padding-left: 5px;
	margin-top: 0;

	font-size: 10px;
}

pre {
	white-space: pre;
	word-wrap: normal;
}

.block-container {
	margin-bottom: 8px;
	margin-left: 16px;
	box-sizing: border-box;
	display: inline-block;
	width: 90%;
	border: 1px groove #fff;
	padding: 3px 10px;
}
.block {
	width: 90%;
	margin-left: 16px;
	color: #3a2e1f !important;
}
.block-container {
	margin-bottom: 8px;
	margin-left: 16px;
	box-sizing: border-box;
	display: inline-block;
	width: 90%;
	border: 1px groove #fff;
	padding: 3px 10px;
}
.block {
	width: 90%;
	margin-left: 16px;
	color: #3a2e1f !important;
}

