html {
    width: 100%
}
.bod {
    width: 90%;
    height: 100%;
    color: #000000;
    background: rgb(255, 252, 248);
    font-size: 16px;
}

DIV.PageHeadline {
    text-align: center;
    max-width: 75em;
    margin: 0 auto;
    font-size:small;
}
pre {
    font-size: 12px;
    color: black;
    white-space: wrap;
    overflow: scroll;
    padding: 5px;
    border: 1px solid rgb(133, 133, 133);
    border-radius: 10px;
}
.code_block {
    padding: 5px;
    overflow-x: hidden;
}

@media only screen and (min-width: 768px){
    .bod {
        width: 100%;
        overflow: hidden;
    }
    DIV.ArticleText {
        font-size: 8px;
        width: 80%;
        margin: 0 auto;
        font-size: larger;
    }
    h1 {
        margin: 0px 0px 5px 0px;
        padding: 0px;
        color: #073642;
    }

    h2 {
        margin: 20px 0px 5px 0px;
        padding: 0px;
    }

    h3 {
        margin: 0px 0px 5px 0px;
        padding: 0px;
    }

    a {
        text-decoration: underline;
    }

    a:link {
        color: #3b3b3b;
    }

    a:visited {
        color: #d33682;
    }

    a:hover {
        color: #3b3b3b;
        background-color: #93a1a1;
    }

    a:visited:hover {
        color: #d33682;
    }

    a.name {
        color: #073642
    }

    a.name:link {
        color: #073642
    }

    a.name:hover {
        color: #073642
    }

    DIV.PageHeadline {
        text-align: center;
        max-width: 75em;
        margin-top: 1em;
        margin-bottom: 2em;
    }

    DIV.PageHeadline H1 {
        margin-bottom: 0.2em;
    }

    DIV.PageHeadline H2 {
        margin-top: 0.2em;
    }

    pre {
        color: black;
        white-space: pre-wrap;
        overflow: hidden;
        word-break: break-word;
    }
}